# CREDENCIALES POSTGRESQL
DB_USER=valle_user
DB_PASS=valle_pass
DB_NAME_REPORTES=reportes_db
DB_NAME_USUARIOS=usuarios_db
DB_NAME_ALERTAS=alertas_db
DB_NAME_ANALITICA=analitica_db
DB_NAME_GEOGRAFICO=geografico_db

# PUERTOS
PORT_DB_REPORTES=5434
PORT_DB_USUARIOS=5435
PORT_DB_ALERTAS=5433
PORT_DB_ANALITICA=5437
PORT_DB_GEOGRAFICO=5438
PORT_MS_REPORTES=8081
PORT_MS_USUARIOS=8082
PORT_MS_ALERTAS=8084
PORT_MS_ANALITICA=8085
PORT_MS_GEOGRAFICO=8086
PORT_BFF=8080
PORT_GATEWAY=8000

# JDBC
SPRING_DATASOURCE_URL_REPORTES=postgresql://postgres-reportes:5432/${DB_NAME_REPORTES}
SPRING_DATASOURCE_URL_USUARIOS=postgresql://postgres-usuarios:5432/${DB_NAME_USUARIOS}
SPRING_DATASOURCE_URL_ALERTAS=postgresql://postgres-alertas:5432/${DB_NAME_ALERTAS}

# URLS INTERNAS
MS_USUARIOS_URL=http://ms-usuarios:8082
MS_REPORTES_URL=http://ms-reportes:8081
MS_ANALITICA_URL=http://ms-analitica:8085
MS_GEOGRAFICO_URL=http://ms-geografico:8086
MS_ALERTAS_URL=http://ms-alertas:8084
MS_AUTH_URL=http://ms-auth:8083

# JWT
JWT_SECRET=NUj5SYvv0DYb895RqG3G1mpkB+oH0Sr19fNWm0E6Jos=
JWT_EXPIRATION_MS=3600000